.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-bottom: 1px solid #dadada;
}

.navbar .logo,
.navbar .profile {
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.navbar .logo:hover,
.navbar .profile:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.navbar .logo{
    width: max(30%,900px);
}

.navbar .profile{
    width: 30px;
}
